
.pdf {
  height: auto; 
}

.tablinks {
  font-size: 2vh;
  color: rgb(251, 140, 183);
  font-weight: 700;
  word-spacing: 0.2vh;
  letter-spacing: 0.25vh;
}

.name {
  color: rgb(130, 99, 111);
  font-size: 3vh;
  text-decoration: underline;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
}

.bold {
  color: rgb(83, 62, 70);
  font-size: 2.5vh;
  font-weight: 500;
}

.identificación2 {
  color:rgba(86, 66, 74, 0.62);
  font-weight: 700;
  margin-left: 3vh; 
  letter-spacing: 0.15vh;
  line-height: 4vh;
  text-align: justify;
  text-justify: inter-word; /*sin el text-align no funciona*/
}

.portal {
  width: 30vh;
  margin-bottom: 2vh;
}

.Work {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.link {
  color:rgb(130, 99, 111);
  margin-left: 3vh;
  font-size: 2vh;
}

.notes {
  color:rgb(126, 88, 103);
  text-align: justify;
  text-justify: inter-word;
  font-size: 2.5vh;
  padding-bottom: 2vh;
}

.colorLink {
  color:rgb(130, 99, 111);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0.3vh solid rgba(245, 175, 185, 0.206);
  background-color: rgba(251, 140, 183, 0.22);
  padding-top: 1vh; 
  padding-left: 1vh;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1vh 2vh;
  transition: 0.3s;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(251, 140, 183, 0.378);
  box-shadow: 0 1vh 2vh 0 rgba(251, 140, 183, 0.858)
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(248, 172, 201, 0.109);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 1vh 3vh;
  border: 1px solid rgba(248, 172, 201, 0.076);
  border-top: none;
  height: fit-content; 
}

/*Full page tabs*/
#cotti {background-color: rgba(248, 172, 201, 0.109); display: flex;}
#ichiban {background-color: rgba(248, 172, 201, 0.109); display: flex;}
#starbucks {background-color: rgba(248, 172, 201, 0.109); display: flex;}

@media (max-width: 600px) {
  .tab {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .tab button {
    padding: 2vh;
  }

  .tablinks {
    font-size: 2.5vh;
  }

  .Work {
    flex-direction: column;
    align-items:center;
}

  .notes {
    margin-top: 2vh;
    font-size: 2.2vh;
  }

  .identificación2 {
    font-size: 2.2vh;
    margin-left: 0; 
  }

  .name {
    text-align: center;
  }

  #cotti,
  #ichiban, 
  #starbucks {
    justify-items: center;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .identificación2 {
    font-size: 2vh;
    text-align: left;
  }
  }

@media (min-width: 992px) and (max-width: 1200px) {
   .identificación2 {
    font-size: 2.2vh;
    text-align: left;
  }
}
