/* CSS experiencia laboral */

.prácticas {
  display: flex;
  justify-content: space-evenly;
}

.encabezado {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2vh;
  height: 125px;
}

.job {
  text-align: left;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:left;
}
  

.logo-machi {
  width: 9vh;
  display: inline-block;
  padding-right: 2vh;
 
}

.logo-profe {
  width: 12vh;
  display: inline-block;
  border-radius: 40px;
  mix-blend-mode: multiply;
}

.logo-trad {
  width: 12vh;
  display: inline-block;
  border-radius: 40px;
  mix-blend-mode: multiply;
}

.preview-lab {
  vertical-align: top;
  flex: auto;
  max-width: 90vh;
}

.title2 {
  font-weight: 700; 
  font-size: 3vh;
  margin-bottom: 1vh;
}

.descripción2{
  font-size: 2vh; 
  font-weight: 500;
  color: rgb(247, 133, 178);
  background-color: rgb(249, 219, 231); 
  border-radius: 6px;
  margin-bottom: 2vh;
  padding: 1vh 1vh;
  margin-top: 2vh; 
}

.actividad {
  background-color: rgb(249, 219, 231); 
  border-radius: 6px;
  padding: 1vh 1vh;
  font-size: 2vh; 
  font-weight: 400;
  color: rgb(130, 99, 111);
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 600px) {
  .prácticas {
    flex-direction: column;
}  
}

@media (min-width: 600px) and (max-width: 992px) {
   .prácticas {
    flex-direction: column;
}  
  .actividad {
    font-size: 2.2vh;
  }

  .encabezado {
    margin-top: 2vh;
  }

  .job {
    padding-bottom: 2vh;
  }
  }

@media (min-width: 992px) and (max-width: 1200px) {
   .actividad, .descripción2 {
    font-size: 2.5vh;
  }

  .año {
    font-size: 2.2vh;
  }
}

@media (min-width: 1200px) and (max-width: 2100px) {
  .encabezado {
    height: 150px;
  }
  .actividad, .descripción2 {
    font-size: 2.5vh;
  }

  .año {
    font-size: 2.2vh;
  }
}