/* CSS hobbies */

.hobbies {
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}


.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.dancer {
  font-size: 9vh;
  display: inline-block; 
  animation: danceMove 0.9s infinite;
  margin-top: 4vh;
}

@keyframes danceMove {
  0% { transform: translateY(0) rotate(0deg); }
  25% { transform: translateY(-20px) rotate(-10deg); }
  50% { transform: translateY(0) rotate(0deg); }
  75% { transform: translateY(-20px) rotate(10deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

.photo {
  position: relative;

}

.camera {
  font-size: 10vh;
  position: absolute;
  animation: shoot 1s infinite;
  margin-left: -42px;
  margin-top: 20px;
}

.cameraflash {
  position: absolute;
  font-size: 10vh;
  animation: shoot2 1s infinite;
  margin-left: -42px;
  margin-top: 20px;
}

@keyframes shoot {
  0% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes shoot2 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.caligrafía {
  width: 11vh; 
  border-radius: 40px;
  margin-top: 30px;
}

.subHobbies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  width: 33%; 
}

.hobbyName {
  font-size: 2.5vh;
  font-weight: 600;
  color: rgb(248, 172, 201);
  border-style: solid;
  padding: 0.5vh;
  border-radius: 1vh;
  background-color: rgba(248, 172, 201, 0.12);
}


.hobbyDesc {
  padding: 1vh;
  letter-spacing: 0.15vh;
  border-width: 0.15vh;
  border-style: solid;
  border-radius: 2vh;
  background-color: rgba(248, 172, 201, 0.12);
  border-color: rgb(248, 172, 201);
  margin-left: 1vh;
  margin-right: 1vh;
  height: auto;
  width: 33%; 
}

.hobbyEnca {
  color: rgb(130, 99, 111);
  line-height: 2vh;
  font-size: 2.5vh;
  font-weight: 600;
}
.subtitle {
  font-style: bold;
  color: rgb(105, 76, 87);
  line-height: 2.5vh;
  font-size: 2vh;
  font-weight: 600;
}

.hobbyText {
  color: rgb(130, 99, 111);
  line-height: 2.5vh;
  font-weight: 400;
  font-size: 2.2vh;
  padding-right: 1vh;
  padding-left: 0.8vh;
}

.hobbyText > div {
  padding-left: 2vh;
}

@media (max-width: 600px) {
  .row1, .row2 {
    flex-direction: column;
    align-items: center;
  }

  .hobbyDesc {
    width: auto;
  }
 
   .subHobbies {
    height: 200px;
  }

  .camera, .cameraflash {
    margin-left: -45px;
    margin-top: 25px;
  }
  
  .caligrafía {
    margin-bottom: 30px;
  }

}

@media (min-width: 600px) and (max-width: 992px) {
  .row1, .row2 {
    flex-direction: column;
    align-items: center;
  }

  .hobbyDesc {
    width: auto;
  }
 
  .subHobbies {
    height: 220px;
  }
 
  .caligrafía {
    margin-top: 35px;
    margin-bottom: 50px;
  }

  .camera, .cameraflash {
    margin-left: -45px;
    margin-top: 30px;
  }

  .hobbyText {
    font-size: 2.2vh;
    line-height: 3.2vh;
  }

  .subtitle {
    font-size: 2vh;
  }
  }

@media (min-width: 992px) and (max-width: 1200px) {


}


@media (min-width: 1200px) and (max-width: 2100px) {
  .row1 {
    height: 25vh;
  }

  .caligrafía {
    margin-top: 40px;
  }

  .camera, .cameraflash {
    margin-left: -55px;
    margin-top: 30px;
  }

}

/* @media (min-width: 992px) and (max-width: 1200px) {
  .hobbies {
    grid-template-columns: 1fr;
  }
 
  .subHobbies {
      height: 200px;
    }

  .caligrafía {
    margin-top: 30px;
    margin-bottom: 18px;
  }

  .dancer {
    margin-top: 30px;
  }

  .hobbyText {
    line-height: 3.5vh;
  }
} */
