 .bloque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1vh 2vh;
  margin: 2vh; 
  letter-spacing: 0.15vh;
  border-width: 0.15vh;
  border-style: solid;
  border-radius: 2vh;
  background-color: rgba(248, 172, 201, 0.12);
  border-color: rgb(248, 172, 201);
  width: auto;
  height: auto;
 }

 .bloqueTitle {
  font-style: italic;
  color: rgba(248, 77, 143, 0.613);
  line-height: 4vh;
  margin-bottom: 3vh;
  font-size: 3vh;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  align-self: center; /* modificar align del elemento concreto */
 }

 .skillTitle {
  font-style: bold;
  color: rgb(105, 76, 87);
  line-height: 4vh;
  font-size: 2.5vh;
  font-weight: 600;
  text-transform: uppercase; /* poner mayúscula */
 }

 .skillDesc, .skillDesc2 {
  color: rgb(130, 76, 97);
  line-height: 3vh;
  font-weight: 400;
  font-size: 2.2vh;
  padding-right: 1vh;
  padding-left: 1.5vh;
  text-align: justify;
  text-justify: inter-word;
 }

 .bold2 {
  font-weight: 800;
 }

 .italic {
  font-style: italic;
 }

 @media (max-width: 600px) {
   .skillDesc2 {
    text-align: left;
   }
 }

 @media (min-width: 600px) and (max-width: 992px) {
   .capacidades {
    margin: 0 35.4px; 
   }

   .bloque {
    margin: 2vh 0;
   }

   .skillDesc {
    font-size: 2.5vh;
   }
  }

 @media (min-width: 992px) and (max-width: 1200px) {
  .capacidades {
    margin: 0 35.4px; 
   }

   .bloque {
    margin: 2vh 0;
   }

}